<!DOCTYPE html>
<html>
  <head>
    <title>Pet Central</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Emilys+Candy|Gorditas|Original+Surfer&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    <div class="center-align" id="visitor">
        <a href="https://imgur.com/Jc9jfPo"><img src="https://i.imgur.com/Jc9jfPo.png" title="source: imgur.com" /></a>
    </div>
      <nav class="center-align">
        <% if (user) { %>
          <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
          </nav>
  
      