<!DOCTYPE html>
<html>
  <head>
    <title>Pet Central</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Emilys+Candy|Gorditas|Original+Surfer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
  <div class="row" id="nav-bar">

    <div class="col s3"><a href="https://imgur.com/WfeODog"><img src="https://i.imgur.com/WfeODogt.png" title="source: imgur.com" /></a></div>
    <div class="col s1.5"><i class="small material-icons">warning</i><a href="/logout">Log Out</a></div>
    <div class="col s1.5"><i class="small material-icons">home</i><a href="/users/index">Home</a></div>
    <div class="col s1.5"><i class="small material-icons">pets</i><a href="/pets/index">Kennel</a></div>
    <div class="col s1.5"><i class="small material-icons">pets</i><a href="/pets/new">Add a Pet</a></div>
    <div class="col s1.5"><i class="small material-icons">supervisor_account</i><a href="/providers/index">Providers</a></div>
    <div class="col s1.5"><i class="small material-icons">supervisor_account</i><a href="/providers/new">Add a Provider</a></div>
  </div>