<%- include('./partials/header') %>

<h1 class="center-align">Welcome to Pet Central</h1>


<h3 class="center-align">Groomers, and Trainers, and Vets! Oh My!</h3>
<p>Do you struggle to keep track of groomers, trainers, vets, and other pet care providers? 
At Pet Central we supply you with a way to add your pets and all their health and medication 
histories. You can also add your pet care providers and the services they provide. Once you
have your pets and providers added to your profile, you can link them together. 

Maybe the vet sees both of your dogs and the cat, but the trainer is only for the puppy. Great!  
Just link the trainer to the pets that use him! Or maybe you have a regular small animal vet 
for your cats and dogs but another vet that specializes in reptiles for your child's lizard or 
snake? Easy Peasy! You can link providers as needed to each individual pet!

You can also include specific health information and medications for each pet. This makes 
remembering vaccinations a breeze.</p>

<h4 class="center-align subhead">COMING SOON!</h4>
<p>We are currently working on the following features:  a calendar feature so you can schedule 
      reminders for provider appointments, and the ability to unlink providers from pets. 
</p>

<%- include('./partials/footer')%>