<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Central Kennel</h1>

  <table id="kennel">
    <tbody>
      <% user.pets.forEach(function(pet, idx){ %>

        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.type %></td>
          <td><a href="/pets/<%= pet._id %>">Details</a></td>
          <td><form action="/pets/<%= pet._id %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit">X</button>
          </form></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/users/index">Go back to Home Page</a>
  <a href="/pets/new">Add a New Pet</a>

</body>
</html>