<%- include('../partials/headeruser') %>

  <h3 class="center-align">Add a New Pet to Your Kennel</h3>
  <div class="container">
  <form action="/pets" method="POST">

    <label>Name</label>
    <input type="text" name="name" required>

    <label>Type</label>
    <select name="type" required>
      <option value="bird">Bird</option>
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="fish">Fish</option>
      <option value="lizard">Lizard</option>
      <option value="snake">Snake</option>
      <option value="other">Other</option>
    </select>
   
    <div>
      <label>Breed</label>
      <input type="text" name="breed">
    </div>

    <label>Age</label>
    <input type="number" name="age">

    <label>Health Conditions (use commas to separate)</label>
    <input type="text" name="healthConditions">

    <label>Medications (use commas to separate)</label>
    <input type="text" name="medications">

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
  </form>
  </div>
  <%- include('../partials/footer')%>