<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Pet Central Users Portal</h1>

  <div>
    <h3>Pets</h3>
    <input type="button" value="Your Kennel">
  </div>

  <div>
    <h3>Providers</h3>
    <input type="button" value="Providers Rolodex">
  </div>
</body>
</html>