<%- include('../partials/headeruser') %>

  <h1>Pet Central Users Portal</h1>

  <div>
    <h3>Pets</h3>
    <a href="/pets/index"><input type="button" value="Your Kennel"></a>
    <a href="/pets/new"><input type="button" value="Add a New Pet"></a>
  </div>

  <div>
    <h3>Providers</h3>
    <a href="/providers/index"><input type="button" value="Providers Directory"></a>
    <a href="/providers/new"><input type="button" value="Add a New Provider"></a>
  </div>

  
  <%- include('../partials/footer')%>