<%- include('../partials/headeruser') %>

  <h3 class="center-align">Add a New Provider</h3>
  <div class="container">
  <form action="/providers" method="POST">
    <label>Name</label>
    <input type="text" name="name" required>

    <label>Type</label>
    <select name="type" required>
      <option value="Vet">Vet</option>
      <option value="Groomer">Groomer</option>
      <option value="Trainer">Trainer</option>
      <option value="Sitter">Sitter</option>
      <option value="Walker">Walker</option>
      <option value="Boarder">Boarder</option>
      <option value="Store">Store</option>
      <option value="other">Other</option>
    </select>

    <div>
      <label>Services (use commas to separate)</label>
      <input type="text" name="services" required>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
  </form>
  </div>
  <%- include('../partials/footer')%>