<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Central</title>
</head>
<body>
  <h1>Provider Detail</h1>
  <section id="provider-show-page">
    <% user.providers.forEach(pr => { %>
    <div>Name: <%= pr.name %></div>
    <div>Type: <%= pr.type %></div>
    <div>Services: <%= pr.services.join(',') %></div>
    <a href="/providers/<%= pr._id %>/edit">Edit Provider Detail</a>
  <% })%>
  </section>

  <a href="/providers/index"> Go back to Provider Directory</a>
  <a href="/users/index">Go back to Home Page</a>
</body>
</html>